.import-fallback {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.import-fallback a {
  text-decoration: none;
}

.import-fallback .fallback-icon {
  font-size: 250px;
  line-height: normal;
  margin: 0;
}