*.py[cod]

# virtualenv and other misc bits
*.egg-info
/dist
/build
/bin
/lib
/scripts
/Scripts
/Lib
/tmp
.Python
/include
/Include
/local
node_modules/
bower_components/
docs/build

# Installer logs
debug.log
npm-debug.log

# IDEs
.project
.pydevproject
.idea
.vscode

.DS_Store
*~
.*.sw[po]
.build
.ve
.venv
*.bak
/.cache/


