language: node_js
sudo: required
node_js:
  - "6"

env:
  - CXX=g++-4.8

os:
  - linux
  - osx

before_install:
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get update; sudo apt-get install build-essential -y; fi

script:
    - python build.py
    - openssl version