.core-button {
  margin: 1rem;
  background-color: transparent !important;
  border: 2px solid #0685b9 !important;
}
.core-button svg {
  margin-left: 10px;
  color: rgb(9 64 126);
}
.core-button:hover {
  background-color: #f3f9ff !important;
}