/*---------------------------------------
  General
-----------------------------------------*/


a,
a:not([href]),
a:not([href]):not([class]) {
  color: #0d6efd;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:not([href]):hover,
a:not([href]):not([class]):hover {
  color: #0a58ca;
}

input[type="text"] {
  font-size: 14px;
}
input[type="search"]::-webkit-search-results-button {
  display: block;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

img {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  user-select: none;
}

/* Revive scrollbar being hidden on macos */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5.5px; /* Width ignored by horizontal scrllbars */
  height: 5.5px; /* Height ignored by vertical scrllbars */
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0,0,0,.4);
  box-shadow: 0 0 0.1px rgb(255 255 255 / 30%);
}

/*---------------------------------------
  Font source mapping
-----------------------------------------*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../lib/css/fonts/Raleway-Regular.ttf');
  src: local('?'),
    url('../lib/css/fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Black';
  font-style: normal;
  font-weight: 800;
  src: url('../lib/css/fonts/Raleway-Black.ttf');
  src: local('?'),
    url('../lib/css/fonts/Raleway-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../lib/css/fonts/Lato-Regular.ttf');
  src: local('?'),
    url('../lib/css/fonts/Lato-Regular.ttf') format('truetype');
}


/* Pie chart pages */
.pieInfoDash {
  padding: 5px;
  padding-right: 18px;
  height: 100%;
}

.card {
  border-radius: 2px;
  box-shadow: 1px 0 8px -3px #b1b1b1;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

img {
  -webkit-user-drag: none;
}

.card>.content {
  text-align: center;
  padding: 15px 15px 0;
}

.card>.header {
  text-align: center;
  padding: 15px 15px;
}

.card>.value {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  color: #3898fc;
  font-weight: 500;
  padding-bottom: 15px;
}

.c3 svg {
  font-family: 'Lato', Helvetica, san-serif;
}