
/* Old code but maybe useful */
/* Tooltip for Bar Chart */
/* .toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: #333333;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 14px;
  text-align: center;
  color: #ffffff;
} */