.license-detecion-entity {
  height: 100%;
}

.license-entity-properties {
  font-size: 15px;
}

.license-entity-properties .property {
  font-weight: 500;
}

.license-entity-properties .value {
  padding-left: 5px;
}

.license-detecion-entity .badge,
.dependency-entity .badge {
  margin-right: 5px;
}

.license-detecion-entity .react-json-view,
.dependency-entity .react-json-view {
  max-height: 75vh;
  overflow: scroll;
}

.matches-table,
.file-regions-table {
  max-height: 30vh;
}

.matched-text-diff-modal {
  overflow: scroll;
  max-height: calc(100vh - 120px);
}
.matched-text-diff-modal .diff-line{
  display: block;
  margin: 0;
}
.matched-text-diff-modal .diff-line pre{
  margin: 0;
  display: inline-flex;
}
/* .matched-text-diff-modal .snippet {

} */
.matched-text-diff-modal .added-snippet {
  background-color: rgb(195, 255, 188);
}

.matched-text-diff-modal .removed-snippet {
  background-color: rgb(254, 203, 189);
}