.matched-text-diff-modal .row {
  padding: 5px;
  max-height: calc(100vh - 20vh);
  overflow: auto;
}

.matched-text-diff-modal .rule-text-section {
  background-color: #f6feff;
  padding: 0;
}

.matched-text-diff-modal .matched-text-section {
  background-color: #f9fffc;
  padding: 0;
}

.matched-text-diff-modal .diff-table {
  table-layout: fixed;
  width: 100%;
}

.matched-text-diff-modal .diff-table th {
  padding: 15px;
  padding-left: 10px;
  font-weight: 500;
  background-color: #fafbfc;
}

.matched-text-diff-modal .diff-line {
  display: table-row-group;
  margin: 0;
  vertical-align: top;
  white-space: pre;
  overflow-wrap: anywhere;
}

.matched-text-diff-modal .line-number {
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.9;
}

.matched-text-diff-modal .line-content {
  padding-left: 10px;
  padding-right: 10px;
}

.matched-text-diff-modal .diff-line .line-content .line-text {
  margin: 0;
  display: inline-block;
  white-space: pre-wrap;
  line-height: 20px;
}

.matched-text-diff-modal .diff-line .line-content .removed-snippet {
  background-color: #fdb8c0;
}

.matched-text-diff-modal .diff-line .line-content .added-snippet {
  background-color: #acf2bd;
}