.pane-container {
  min-width: 90vw !important;
  height: 100vh !important;
}

.file-tree-pane {
  border: 0;
  box-shadow: rgb(177 177 177) 1px 0px 18px -3px;
  overflow: overlay !important;
}
.content-pane {
  overflow-y: overlay !important;
}
.content-container {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 95%;
}