.scan-info {
  padding: 10px;
}
.scan-info .overview-table {
  max-width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
.scan-info .overview-table > tbody > tr > td {
  min-width: 190px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
.scan-info .overview-table td ul{
  margin: 0;
  padding-left: 1rem;
}
.scan-info .react-json-view {
  max-height: 600px;
  overflow: scroll;
}
.scan-info .options-table, .scan-info .options-table td {
  border: none;
  padding: 0;
  padding-right: 20px;
}