/*---------------------------------------
  Font source mapping
-----------------------------------------*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../../thirdparty/fonts/Raleway-Regular.ttf');
  src: local('?'),
          url('../../thirdparty/fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Black';
  font-style: normal;
  font-weight: 800;
  src: url('../../thirdparty/fonts/Raleway-Black.ttf');
  src: local('?'),
          url('../../thirdparty/fonts/Raleway-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../../thirdparty/fonts/Lato-Regular.ttf');
  src: local('?'),
          url('../../thirdparty/fonts/Lato-Regular.ttf') format('truetype');
}
/*---------------------------------------
  General
-----------------------------------------*/
body {
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  position: absolute;
}

.logo {
  font-family: 'Raleway', Helvetica, san-serif;
  color: #0064cd;
}

.strong-logo {
  font-family: 'Raleway Black', Helvetica, san-serif;
}

/*---------------------------------------
  Layout
-----------------------------------------*/

#content {
  height: 100%;
  width: 100%;
  padding-left: 50px;
  display: flex;
}

#leftCol {
  height: 100%;
  flex: 0 0 200px;
  box-shadow: 1px 0 18px -3px #b1b1b1;
}

#rightCol {
  height: 100%;
  flex: 1;
}

.tab-pane {
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

/*---------------------------------------
  Node View
-----------------------------------------*/
.node {
  cursor: pointer;
}

.node circle {
  fill: #3498db;
  stroke: #3498db;
  stroke-width: 1px;
  r: 5;
}

.node circle.Analyzed {
  fill: #98db34;
  stroke: #98db34;
}

.node circle.Attention {
  fill: #db3445;
  stroke: #db3445;
}

.node circle.Original {
  fill: #a73b8f;
  stroke: #a73b8f;
}

.node circle.NR {
  fill: #fff;
  stroke: #000;
}

.node.file text {
  font: 13px sans-serif;
  fill: white;
}

.node.dir text {
  fill: black;
}

.clues rect {
  x: 0;
  y: -10;
  height: 20px;
  rx: 4;
  ry:4;
  stroke-width:3
}

.clue-filename rect {
  fill: gray;
  stroke: gray;
}

.clue-license rect {
  fill: #3984b6;
  stroke: #3984b6;
}

.clue-copyright rect {
  fill: #1d2e81;
  stroke: #1d2e81;
}

.svg-container{
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#node-container {
  display: flex;
  flex-flow: column;
}

.nodeview-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

div.node-content {
  border: 1px solid #ddd;
  width: 200px;
}

.node-options {
  display: flex;
  padding-bottom: 5px;
}

.component-status-dropdown { padding-left: 5px; }

.status-dropdown-menu { min-width: 110px; }

#zoom-controls {
  top: 15px;
  left: 10px;
  z-index: 10;
  width: auto;
  position: absolute;
}

#nodeview-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

#recenter { color: #fff; }

.btn-zoom {
  color: #fff;
  background-color: #3498db;
}

.btn-zoom:hover {
  color: #fff;
  background-color: rgba(52,152,219, 0.9);
  border-color: #269abc;
}

.fa-refresh-scale {
  font-size: 18px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

/* select2 custom css */
.select2-container {
  width: 100% !important;
  padding-bottom: 5px;
}

.modal-header {
  word-wrap: break-word;
}

/*---------------------------------------
  jsTree custom
-----------------------------------------*/
#jstree {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 100%;
  padding-top: 15px;
  background-color: #f3f3f3;
}

.jstree-default .jstree-clicked {
    background: rgba(158,158,158, 0.50);
}

/*---------------------------------------
  Sidebar
-----------------------------------------*/
.btn-sidebar {
  color: grey;
  background-color: #21252b;
  padding: 0;
  width: 50px;
}

.sidebar-nav li .btn-sidebar {
    line-height: 40px;
}

.sidebar-nav li .btn-sidebar {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li .btn-sidebar:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.25);
}

.sidebar-nav li .btn-sidebar:active,
.sidebar-nav li .btn-sidebar:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-nav li.active .btn-sidebar {
    color: #fff;
    background: rgba(255, 255, 255, 0.12);
}

/*---------------------------------------
  DataTables custom
-----------------------------------------*/

.dataTable td select {
  word-wrap: break-word;
  width: 100%;
}

.dataTable td hr {
  margin: 0;
}

/*For rounded table border*/
div.dataTables_scrollHead table,
div.dataTables_scrollHead th:first-child {
  border-top-left-radius: 4px;
}

/* Modify the colvis column-visibility and -grouping buttons */
.buttons-colvis {
  padding-right: 10px;
  padding-left: 10px;
}

.buttons-colvisGroup {
  padding-right: 10px;
  padding-left: 10px;
}

.dropdown-menu > .active > a{
  color: #000;
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-menu > .active > a:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  outline: 0;
}

/*---------------------------------------
  Help page
-----------------------------------------*/
.help-image {
  width: 75%;
  height: 75%;
  padding: 10px 0;
}

/*---------------------------------------
  Progress Indicator
-----------------------------------------*/
/* Center the progress indicator */
.progress {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: auto;
  z-index: 1;
  width: auto;
  height: auto;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.progress .title {
  text-align: center;
}

.progress .indicator {
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
  border: 6px solid #B4DDF8;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*---------------------------------------
  Icons
-----------------------------------------*/
.fa_custom {
  color: #3498db;
}
/*---------------------------------------
  Split.js
-----------------------------------------*/
.gutter {
  background-color: #e8e8e8;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  opacity: 0;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
}

.split.split-flex {
  overflow-y: auto;
  overflow-x: hidden;
}

.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.div-hide {
  display: none;
  visibility: hidden;
}

.div-show {
  display: block;
  visibility: visible;
}

/*---------------------------------------
  Bar Chart Summary
-----------------------------------------*/
.bar-chart{ width: 100%; }

.bar-chart rect { fill: #3498db; }

.bar-chart text {
  fill: black;
  font-size: 12px;
  font-family: 'Lato', Helvetica, sans-serif;
  text-anchor: end;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Remove focus from Bar Chart dropdown after selection is made. */
.select2-selection:focus {
  outline: none;
}

/* Tooltip for Bar Chart */
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: #333333;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 14px;
  text-align: center;
  color: #ffffff;
}

/*---------------------------------------
  Dashboard
-----------------------------------------*/
#dashboard-container{
  background-color: #FAFAFB;
}

.dashboard-lead{
  padding: 0 0 15px 15px;
}

.card {
  border-radius: 2px;
  box-shadow: 1px 0 8px -3px #b1b1b1;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.card .content {
  text-align: center;
  padding: 15px 15px 0;
}

.card .header {
  text-align: center;
  padding: 15px 15px;
}

.card .title {
  margin: 0;
  color: #3D7AFC;
  font-weight: 600;
  padding-bottom: 10px;
}

.card .category {
  font-size: 17px;
  font-weight: 400;
  color: #9A9A9A;
  margin-bottom: 0px;
}

.c3 svg {
  font-family: 'Lato', Helvetica, san-serif;
}