alabaster
Babel
certifi
chardet
colorama
docutils
idna
imagesize
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging
Pygments
pyparsing
pytz
requests
six
snowballstemmer
Sphinx==2.4.4
sphinx-autobuild
sphinx_rtd_theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
