:root {
  /* Default css variables (DARK) for intellisense purpose */
  --background: #ffffff;
  --textFocused: #1a1919;
  --textColor: #282828;
  --accentColor: #0685b9;
  --accentHoverColor: #f3f9ff;
  --lightTextColor: #4b4b4b;
  --listHoverColor: #f5f5f5;
  --listSelectionColor: #eaeaea;
}