.dash-cards {
  justify-content: space-around;
}

.dash-cards .card {
  background-color: #fff;
  padding: 15px;
}

.counter-card {
  min-height: 100px;
}

.chart-card {
  min-height: 410px;
}

.chart-card .title {
  margin-top: 10px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1200px) {
  .counter-card {
    min-height: 140px;
  }
}