body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  max-width: 38rem;
  min-width: 100vw;
  min-height: 100vh;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--textColor);
}
.Toastify__toast-body {
  white-space: pre-line;
}

input:focus {
  box-shadow: none !important;
}